<div class="container-fluid">

  <div>
    <div *ngIf="selected">
      <app-anime-detail [animeDetail]="selectedAnime"></app-anime-detail>
    </div>
  </div>
  <div>
      <tbody>
        <tr *ngFor="let p of animes">
        
          <div class="card" style="width: 18rem;">
            <img src="{{ p.img }}" class="card-img-top" alt="{{ p.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.Rating }}</p> #No supe apendearle la ⭐ 
                <p class="card-text">{{ p.categorie }}</p>
                <a href="#" class="btn btn-primary">Mas informacion</a>
                (click)="onSelected(anime)"
            </div>
          </div>
        </tr>
      </tbody>
    <div class="container-fluid">
      <p>La cantidad total de episodios es {{ totalEpisodes }} y el rating promedio es {{ averageRating }} </p>
    </div>
  </div>
</div>